* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  height: 100vh;
  position: relative;
  background: url(./bg.jpg) no-repeat center;
  background-size: cover;
  overflow: hidden;
}

.container-bubbles {
  display: flex;
  justify-content: space-around;
  width: 100%;
  position: absolute;
  bottom: -10vh;
}

.container-bubbles img {
  width: 35px;
  animation: bubble 4s infinite;
}

.container-bubbles img:nth-child(1) {
  width: 15px;
  height: 15px;
  animation-delay: 3s;
}

.container-bubbles img:nth-child(2) {
  animation-delay: 1s;
}

.container-bubbles img:nth-child(3) {
  width: 15px;
  height: 15px;
  animation-delay: 2s;
}

.container-bubbles img:nth-child(4) {
  animation-delay: 5s;
}

.container-bubbles img:nth-child(5) {
  width: 15px;
  height: 15px;
  animation-delay: 3.5s;
}

.container-bubbles img:nth-child(6) {
  animation-delay: 7s;
}

.container-bubbles img:nth-child(7) {
  width: 15px;
  height: 15px;
  animation-delay: 3s;
}

.container-bubbles img:nth-child(8) {
  animation-delay: 8s;
}

@keyframes bubble {
  0% {
    opacity: 0;
    transform: translateY(0);
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: translateY(-100vh);
  }
}