/****************BG && BUBBLES****************/
.container {
  height: 100vh;
  position: relative;
  background: url(../images/bg.jpg) no-repeat center;
  background-size: cover;
  overflow: hidden;
}

.container-bubbles {
  display: flex;
  justify-content: space-around;
  width: 100%;
  position: absolute;
  bottom: -10vh;
}

.container-bubbles img {
  width: 35px;
  animation: bubble 5s infinite;
}

.container-bubbles img:nth-child(even) {
  width: 15px;
  height: 15px;
}

.container-bubbles img:nth-child(1) {
  animation-delay: 3s;
  animation-duration: 4.5s;
}

.container-bubbles img:nth-child(2) {
  animation-delay: 1s;
}

.container-bubbles img:nth-child(3) {
  animation-delay: 2s;
}

.container-bubbles img:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 6s;
}

.container-bubbles img:nth-child(5) {
  animation-delay: 3.5s;
}

.container-bubbles img:nth-child(6) {
  animation-delay: 7s;
}

.container-bubbles img:nth-child(7) {
  animation-delay: 3s;
  animation-duration: 5s;
}

.container-bubbles img:nth-child(8) {
  animation-delay: 0.5s;
}

.container-bubbles img:nth-child(9) {
  animation-delay: 9s;
}

.container-bubbles img:nth-child(10) {
  animation-delay: -1s;
  animation-duration: 8s;
}

@keyframes bubble {
  0% {
    opacity: 0;
    transform: translateY(0);
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: translateY(-100vh);
  }
}

@media (max-width: 768px) {
  .container-bubbles img {
    width: 15px;
    animation: bubble 4s infinite;
  }

  .container-bubbles img:nth-child(odd) {
    width: 10px;
    height: 10px;
  }
  
  .container-bubbles img:nth-child(1) {
    animation-delay: 3s;
  }
  
  .container-bubbles img:nth-child(2) {
    animation-delay: 1s;
  }
  
  .container-bubbles img:nth-child(3) {
    animation-delay: 2s;
  }
  
  .container-bubbles img:nth-child(4) {
    animation-delay: 5s;
  }
  
  .container-bubbles img:nth-child(5) {
    animation-delay: 3.5s;
  }
  
  .container-bubbles img:nth-child(6) {
    animation-delay: 7s;
  }
  
  .container-bubbles img:nth-child(7) {
    animation-delay: 3s;
  }
  
  .container-bubbles img:nth-child(8) {
    animation-delay: 8s;
  }
}